<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Angular + Elastic Search</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>

</head>
<body ng-app="ElasticSampleApp">
    <div class="container" ng-controller="AppController">
        <h1> Angular + Elastic Search </h1>

        <div ng-if="error" class="alert alert-danger" role="alert">{{error.message}}</div>

        <div ng-if="clusterState" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cluster State</h3>
                <div class="panel-body">
                    <pre>{{clusterState | json}}</pre>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/elasticsearch/elasticsearch.angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>